__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.pyc
*.pyo

.pytest_cache/
.venv/
venv/
ENV/
env/

*.log
*.bak
*.tmp

.idea/
.vscode/
*.swp
*.swo
*~

.patrol-archiver/
!sample/.patrol-archiver/
